body {
    overflow-x: hidden;
}


.accessories {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 5vw;
    margin-bottom: 5vw;
    overflow-x: auto;
}

.accessories::-webkit-scrollbar {
    width: 0;
} 


.number1 {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: 0.5s ease 0.7s;
}

.number1._active {
    transform: translate(0);
    opacity: 1;
    transition: 1.2s ease 0s;
}

.accessoriesmerch {
    margin-left: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.accessoriesmerch {
    transform: translate(120%,0);
    opacity: 0;
    transition: 0.5s ease 0.7s;
}

.accessoriesmerch._active {
    transform: translate(0);
    opacity: 1;
    transition: 1.2s ease 0s;
}

div img {
    margin-left: 2vw;
    width: 19vw;
    height: auto;
}

h3 {
    font-family: 'TTCommons-Medium';
    font-weight: 500;
    font-size: 24vw;
    margin-left: -7.5vw;
    margin-bottom: -3vw;
    color: #ffffff;
}

h6 {
    color: #1ABD34;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3vw;
}
